body{
  color: #9e9e9e;
  background-color: black;
}
body:hover{
  color:#bdbdbd;
}
a{
  color: #9e9e9e;
}
a:hover{
  color: #e0e0e0;
  text-decoration: none;
}

/*aboutTop*/
#name{
  text-align: center;
}
.sign, .contact, .email{
  font-size: 18px;
  text-align: center;
  line-height: 3px;
}
.currentAddress{
  line-height: 3px;
  padding-top: 1px;
}
.permanentAddress{
  padding-top: 1px;
  text-align: right;
  line-height: 3px;
}
li>.navMenu{
  font-size: 24px;
}
