<div id="code">
  <h2>...by writing code <span class="fa fa-code"></span></h2>
  <h4>Front-end:</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
      HTML <i class="devicon-html5-plain"></i>
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:20%">
      CSS <i class="devicon-css3-plain"></i> (SASS) <i class="devicon-sass-original"></i>
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width:40%">
      JavaScript <i class="devicon-javascript-plain"></i> (jQuery <i class="devicon-jquery-plain-wordmark"></i>, AngularJS <i class="devicon-angularjs-plain"></i>, TypeScript <i class="devicon-typescript-plain"></i>)
    </div>
    <div class="progress-bar progress-bar-primary" role="progressbar" style="width:20%">
      Bootstrap <i class="devicon-bootstrap-plain"></i>, Material Design
    </div>
  </div><br>
  <h4>Back-end:</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:5%">
      php <i class="devicon-php-plain"></i>
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:5%">
      django <i class="devicon-django-plain"></i>
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width:20%">
      nodejs <i class="devicon-nodejs-plain"></i>
    </div>
  </div><br>
  <h4>Programming:</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:15%">
      C/C++ <i class="devicon-cplusplus-plain"></i>
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:25%">
      Python <i class="devicon-python-plain"></i>
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width:20%">
      nodejs <i class="devicon-nodejs-plain"></i>
    </div>
  </div><br>
  <h4>Softwares:</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:20%">
      Atom <i class="devicon-atom-plain"></i>
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:30%">
      Chrome <i class="devicon-chrome-plain"></i>
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width:5%">
      MATLAB
    </div>
    <div class="progress-bar progress-bar-primary" role="progressbar" style="width:10%">
      Adobe Photoshop <i class="devicon-photoshop-plain"></i>
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:15%">
      Microsoft Office
    </div>
  </div><br>
  <h4>Other Techs I know about:</h4>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
      Git <i class="devicon-git-plain"></i>
    </div>
    <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">
      Firebase
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width:8%">
      Service Workers
    </div>
    <div class="progress-bar progress-bar-primary" role="progressbar" style="width:15%">
      Progressive Web Apps
    </div>
    <div class="progress-bar progress-bar-danger" role="progressbar" style="width:12%">
      Accelerated Mobile Pages
    </div>
    <div class="progress-bar progress-bar-default" role="progressbar" style="width:15%">
      Jekyll
    </div>
    <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%">
      Ionic
    </div>
    <div class="progress-bar progress-bar-info" role="progressbar" style="width:10%">
      Cordova
    </div>
  </div>
</div>
