<span class="credits left">
  <a href="{{ "/app" | prepend:site.baseurl }}">App Showcase</a> |
  <a href="{{ "/blog" | prepend:site.baseurl }}">Blog</a> |
  <a href="{{ "/resume" | prepend:site.baseurl }}">Resume</a> |
  <a href="{{ "/about" | prepend:site.baseurl }}">About</a> |
  <a href="/fire">Fire</a> |
  <a href="/earth">Earth</a> |
  <a href="https://ytqck.github.io/">Ytqck</a> |
  <a href="https://24news.github.io/">24NEWS</a> |
  <a href="https://github.com/midhruvjaink/bootstrap-ext">Bootstrap Extension</a>
</span>

<span class="credits right">
</span>
