<div id="other" class="cat">
  <h2>Other things I have build</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-top">
            <a href="https://github.com/maddhruv/google-maps-ext" style="background:url('public/chrome-maps-extension.png');background-position: center top;background-size: cover;"></a>
          </div>
          <div class="card-bottom">
            <h3>Google Maps Chrome Extension</h3>
             It lets you search your places without going to the website. <br><br>
            <hr>
            <span class="label label-primary">MaterializeCSS</span>
            <span class="label label-danger">Google Maps API <i class="devicon-google-plain"></i></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-top">
            <a href="https://maddhruv.github.io/earth" style="background:url('public/earth.png');background-position: center top;background-size: 100%;background-repeat: no-repeat;"></a>
          </div>
          <div class="card-bottom">
            <h3>Earth</h3>
            Responsive Modern Web Development Framework, making development easier and faster <br><br>
            <hr>
            <span class="label label-primary">SASS <i class="devicon-sass-plain"></i></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-top">
            <a href="https://maddhruv.github.io/bootstrap-ext/" style="background:url('public/bootstrap-ext.png');background-position: center top;background-size: 100%;background-repeat: no-repeat;"></a>
          </div>
          <div class="card-bottom">
            <h3>Bootstrap Extension</h3>
            Bootstrap Extension Features - Colors, Loaders and more to come. <br><br>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-top">
            <a href="https://maddhruv.github.io/fire/" style="background:url('public/fire.png');background-position: center top;background-size: 100%;background-repeat: no-repeat;"></a>
          </div>
          <div class="card-bottom">
            <h3>Fire</h3>
             It is an Open Source Online WYSIWYG Text Editor <br><br><br>
            <hr>
            <span class="label label-default">AngularJS <i class="devicon-angularjs-plain"></i></span>
            <span class="label label-default">FileSaver.JS</span>
            <span class="label label-warning">Firebase</span>
            <span class="label label-danger">Facebook SDK <i class="devicon-facebook-plain"></i></span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-top">
            <a href="https://atom.io/themes/sunflower-syntax" style="background:url('public/sunflower.png');background-position: center top;background-size: 100%;background-repeat: no-repeat;"></a>
          </div>
          <div class="card-bottom">
            <h3>Sunflower Syntax</h3>
            It is material design colors based theme for atom-text-editor <br><br>
            <hr>
            <span class="label label-primary">LESS</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-top">
            <a href="https://maddhruv.github.io/ks-app/" style="background:url('public/ks-app.png');background-position: center top;background-size: 32%;background-repeat: no-repeat;"></a>
          </div>
          <div class="card-bottom">
            <h3>Swach JECRC</h3>
            Clean JECRC Complaints and Feedback App. <br><br><br>
            <hr>
            <span class="label label-default">jQuery <i class="devicon-jqeury-plain"></i></span>
            <span class="label label-primary">SCSS <i class="devicon-sass-plain"></i></span>
            <span class="label label-warning">Firebase</span>
            <span class="label label-primary">PWA</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
