.top{
	font-size: 32px;
	height: 40px;
	align: center;
	font-weight: bold;
}
#nav-mobile{	
	display: inline;
	list-style-type: none;
}
#nav-mobile li{
	float: left;
	width: 50px;
}
.first{
	border-left: 40px solid #42a5f5 ;
	height: 120px;
	margin: 20px;
}
input[type="text"]{
	margin-left: 20px;
	width: 300px;
}
label{
	margin-left: 10px;
	font-size: 24px;
}
.results{
	height: 200px;
}