<html>
  <head>
    <title>Dhruv Jain - @midhruvjaink || JECRC - Developer, Web Designer, Student</title>
     <meta content="1 days" name="revisit-after">
     <meta content="Dhruv Jain - midhruvjaink" name="author">
     <meta content="Dhruv Jain - midhruvjaink's personal resume and cv website." name="description">
     <meta content="Dhruv Jain, DhruvJain, Dhruv, midhruvjaink, Mukesh Jain, Dhruv Jaink, Dhruv Jain MIT, MIT, mink, mink dhruv, muskan vijayvergiya, mink vijayvergiya, muskaan, muskan, muskan vijay, DatorLab, GitHub, StackOverFlow, Quora, dj, Dhruva Jain, ZeroPennyMovies, JECRC, Jaipur, India, JECRC College, Jaipur Engineering College and Research Center, RTDEEE," name="keywords">
     <meta content="Dhruv Jain" name="site_name">
     <meta name="google-site-verification" content="2txplprlPooZHfqxK-K6EismZ3svcuBWOjq9y4D8HXQ" />
     <link href='images/fav.ico' rel='icon' type='image/x-icon'/>
     <!--og meta-->
     <meta name="og:title" content="Dhruv Jain - midhruvjaink">
  </head>

  <body>

  </body>
</html>
