<html>
  <head>
    <title>{{site.title}}</title>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    {% include cover.html %}
    <div id="wrapper">
      {% include websites.html %}
      <div id="separator1"></div>
      {% include other.html %}
      {% include code.html %}
      <div id="school">
        <div class="text">
          <h1>Studying Computer Science in</h1>
          <h2>Jaipur Engineering College and Research Center</h2>
          <h4>Expected B.Tech. in June 2019.</h4>
        </div>
      </div>
      {% include work.html %}

      <div id="object">
        <div class="text">
          <h3>And now, I am seeking <span>Research Assistantship Interns</span> or a<br>
          <span>Software Engineering Intern</span>.</h3>
        </div>
      </div>

      <div id="learn">
        <div class="text">
          <h3>..seeking knowledge of various <span>Algorithms</span> - <br> their Design and Implementation and <span>Machine Learning</span></h3>
        </div>
      </div>

      <div id="adventure">
        <div class="text">
          <h3>on my next adventure - <br>
          participating in <br><span>International Hackathons</span> and <br>
          <span>competitions</span></h3>
        </div>
      </div>

      <div id="chat">
        <div class="text">
          <h3>Interested in having a Snack with me, <br> or Hiring me?</h3>
          <h1>Dhruv Jain </h1>
          <h3><a href="maito:dhruvjainpenny@gmail.com">dhruvjainpenny@gmail.com</a></h3>
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
